<section class="container post">
  <article class="card my-3">
    <div class="card-header d-flex justify-content-between">
      <h1>{{post.title}}</h1>
      <div class="align-self-end">
        Posted by
        {{post.user.username}}
        on
        {{format_date post.createdAt}}
      </div>
    </div>
    <section class="card-body">
      {{post.text}}
    </section>
  </article>
  {{#if post.comments}}
    <section class="card my-3">
      <div class="card-header">
        <h2>Comments</h2>
      </div>
      <section class="card-body">
        {{#each post.comments}}
          <blockquote class="blockquote">
            <p class="mb-0">{{text}}</p>

          </blockquote>
          <figcaption class="blockquote-footer">
            {{user.username}},
            <cite title="Source Title">{{format_date createdAt}}</cite>
          </figcaption>
        {{/each}}
      </section>
    </section>
  {{/if}}

  <form id="new-comment" class="card my-3">
    <div class="card-header">
      <h3>Add Comment</h3>
    </div>
  {{#if loggedIn}}
    <div class="card-body d-flex flex-column">
      <input type="hidden" id="post_id" value="{{post.id}}" />
      <label for="comment-text" class="form-label">Comment:</label>
      <textarea name="comment-text" id="text"></textarea>
      <div class="d-flex justify-content-end p-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  {{else}}
    <div class="p-3 d-flex justify-content-center">
      <p class="me-3">
        You need to be logged in to comment!
      </p>
      <a href="/login">Log In Here</a>
    </div>
  {{/if}}
    </div>
  </form>
</section>

<script src="/js/comment.js"></script>
© 2021 GitHub, Inc.